<a href="https://colab.research.google.com/github/sumitchhipa/python-learning/blob/main/assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n = 4
for i in range(n):
    print(" " * i + "*" * (7 - 2 * i))

*******
 *****
  ***
   *

In [ ]:
n = 5
for i in range(n):
  print()
    for j in range(n):
        print("*" if i == 0 or j == n - i - 1 or j == 0 else " ", end="")
    print()

*****
*  *
* *
**
*

In [ ]:
n = 4
for i in range(n, 0, -1):
    print("*" * i)
for i in range(2, n + 2):
    print("*" * i)

****
***
**
*
**
***
****
*****

In [ ]:
num = [123, 45, 67, 89]
total = 0
for num in num:
    while num > 0:
        total += num % 10
        num //= 10
print(total)

45

In [ ]:
num = [10, 20, 121, 142, 10000]
target = 131
total = 0

for num in num:
    while num > 0:
        total += num % 10
        num //= 10

    if total == target:
        print("matched")
        break
else:
    print("unatched")

unatched

In [ ]:
dict1={"name":"sumit","age":22,"gender":"Male"}
print(dict1)
#insert
dict1.update({"city":"jaipur"})
print(dict1)
dict1.pop("city")
print(dict1)

{'name': 'sumit', 'age': 22, 'gender': 'Male'}
{'name': 'sumit', 'age': 22, 'gender': 'Male', 'city': 'jaipur'}
{'name': 'sumit', 'age': 22, 'gender': 'Male'}

In [ ]:
str = "hello"
dict = {}
for i in range(len(str)):
    dict[i] = str[i]
print(dict)

{0: 'h', 1: 'e', 2: 'l', 3: 'l', 4: 'o'}