<a href="https://colab.research.google.com/github/sumitchhipa/python-learning/blob/main/cmpresion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
square=[x**2 for x in range(1,6)]
print(square)

[1, 4, 9, 16, 25]

In [ ]:
even=[x for x in range(1,11) if x%2==0]
print(even)

[2, 4, 6, 8, 10]

In [ ]:
# convert string upper case
name=["sam","sumit","ram"]
upper=[name.upper() for name in name]
print(upper)

['SAM', 'SUMIT', 'RAM']

In [ ]:
# flatten nestd list
matrix=[[1,2],[3,4],[5,6]]
flattend=[num for sublist in matrix for num in sublist]
print(flattend)

[1, 2, 3, 4, 5, 6]

In [ ]:
# list comprehension using dictionary
# synatax {key expression :value expression for item in }
sqrdict={x:x**2 for x in range (1,8)}
print(sqrdict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [ ]:
even= {x:x**2 for x in range(10) if x%2  }