<a href="https://colab.research.google.com/github/sumitchhipa/python-learning/blob/main/list_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
def check(numbers):
  even=["even is"]
  odd=["odd is"]
  for num in numbers:
    if num%2==0:
      even.append(num)
      # print("even",num)
    else:
      odd.append(num)
      # print("odd",num)
  return even,odd
numbers=[52,26,26,2,5,2,5,2,62,5]
check(numbers)

(['even is', 52, 26, 26, 2, 2, 2, 62], ['odd is', 5, 5, 5])

In [26]:
def findls(numbers):
  largest=numbers[0]
  smallest=numbers[0]
  for num in numbers:
    if num>largest:
      largest=num
    else:
      if num<smallest:
        smallest=num
  return largest,smallest


numbers=[15,26,2,6,21,621,6]
largest,smallest=findls(numbers)
print("largest is",largest)
print("largest is",smallest)

largest is 621
largest is 2

In [42]:
def natural(numbers):
  zero = 0  # Initialize as integer
  one = 0   # Initialize as integer
  less = 0  # Initialize as integer
  for num in numbers:
    if num < 0:
      zero += 1
    elif num > 0:
      less += 1
    else:
      one += 1
  return zero, one, less

numbers = [2,6,7,0,2,5,6,-7,2,-2,5]
zero,one,less=natural(numbers)
print("zero is",zero)
print("one is",one)
print("less is",less)
natural(numbers)

zero is 2
one is 1
less is 8

(2, 1, 8)

In [45]:
list=[1,2,3,4,5,6,7,8]
print(list[::-1])

[8, 7, 6, 5, 4, 3, 2, 1]

In [48]:
list=[1,2,3,4,5,6,8,7]
total=0
for num in list:
  total+=num
print(total)

36

In [49]:
list=[1,2,6,3,6,6,6,7,8]
single,duplicate
for num in list:
  if num in single:

    print(num)

1
2
6
3
6
6
6
7
8