<a href="https://colab.research.google.com/github/sumitchhipa/python-learning/blob/main/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n=7
for row in range(2,n):
  for col in range(2,row):
    print(col,end="  ")
  print("")

2
2  3
2  3  4
2  3  4  5

In [ ]:
n=71
for row in range(65,n):
  for col in range(row):
   print(row,end="")
  print("")

65656565
6666

In [ ]:
n=5
x=2
for row in range(x,n):
  for col in range(x,row+1):
    print(x,end="")
    x+=1
  print("")

2
3
4

In [ ]:
n=4
for row in range(n,0):
  for col in range(row,-1):
    print("*",end="")
  print("")