<a href="https://colab.research.google.com/github/sumitchhipa/python-learning/blob/main/set_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
set2 = {20, 30, 202, 2, 26}
set1 = {135, 26, 55, 56, 25}
# Correcting the typo in the method name: difference_update
set2.difference_update(set1)
# Printing the updated set2
print(set2)

{2, 20, 202, 30}

In [13]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

result = set1.difference(set2).union(set2.difference(set1))
print(result)

{1, 2, 5, 6}

In [16]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
set3 = {3, 4, 5}
print(set1.isdisjoint(set2))
print(set1.isdisjoint(set3))

True
False

In [15]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}
print(set1 >= set2)
print(set1.issuperset(set2))

True
True