<a href="https://colab.research.google.com/github/sumitchhipa/python-learning/blob/main/test_9sep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df1=pd.read_csv('/content/Churn_Modelling.csv')
df2=pd.read_csv('/content/credit_scoring.csv')
df1.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df2.head()

,Age,Gender,Marital Status,Education Level,Employment Status,Credit Utilization Ratio,Payment History,Number of Credit Accounts,Loan Amount,Interest Rate,Loan Term,Type of Loan
0,60,Male,Married,Master,Employed,0.22,2685.0,2,4675000,2.65,48,Personal Loan
1,25,Male,Married,High School,Unemployed,0.20,2371.0,9,3619000,5.19,60,Auto Loan
2,30,Female,Single,Master,Employed,0.22,2771.0,6,957000,2.76,12,Auto Loan
3,58,Female,Married,PhD,Unemployed,0.12,1371.0,2,4731000,6.57,60,Auto Loan
4,32,Male,Married,Bachelor,Self-Employed,0.99,828.0,2,3289000,6.28,36,Personal Loan

In [5]:
df1.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [6]:
df2.describe()

,Age,Credit Utilization Ratio,Payment History,Number of Credit Accounts,Loan Amount,Interest Rate,Loan Term
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,1000.000000,1000.000000
mean,42.702000,0.509950,1452.814000,5.580000,2.471401e+06,10.686600,37.128000
std,13.266771,0.291057,827.934146,2.933634,1.387047e+06,5.479058,17.436274
min,20.000000,0.000000,0.000000,1.000000,1.080000e+05,1.010000,12.000000
25%,31.000000,0.250000,763.750000,3.000000,1.298000e+06,6.022500,24.000000
50%,42.000000,0.530000,1428.000000,6.000000,2.437500e+06,10.705000,36.000000
75%,54.000000,0.750000,2142.000000,8.000000,3.653250e+06,15.440000,48.000000
max,65.000000,1.000000,2857.000000,10.000000,4.996000e+06,19.990000,60.000000

In [11]:
df1.value_counts()

RowNumber  CustomerId  Surname   CreditScore  Geography  Gender  Age  Tenure  Balance    NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  Exited
9984       15656710    Cocci     613          France     Male    40   4       0.00       1              0          0               151325.24        0         1
9983       15768163    Griffin   655          Germany    Female  46   7       137145.12  1              1          0               115146.40        1         1
9982       15672754    Burbidge  498          Germany    Male    42   3       152039.70  1              1          1               53445.17         1         1
9981       15719276    T'ao      741          Spain      Male    35   6       74371.49   1              0          0               99595.67         0         1
9980       15692664    Diribe    677          France     Female  58   1       90022.85   1              0          1               2988.28          0         1
                                                                                                                                                             ..
5          15737888    Mitchell  850          Spain      Female  43   2       125510.82  1              1          1               79084.10         0         1
4          15701354    Boni      699          France     Female  39   1       0.00       2              0          0               93826.63         0         1
3          15619304    Onio      502          France     Female  42   8       159660.80  3              1          0               113931.57        1         1
2          15647311    Hill      608          Spain      Female  41   1       83807.86   1              0          1               112542.58        0         1
1          15634602    Hargrave  619          France     Female  42   2       0.00       1              1          1               101348.88        1         1
Name: count, Length: 10000, dtype: int64

In [12]:
df1.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [13]:
df2.isnull().sum()

Age                          0
Gender                       0
Marital Status               0
Education Level              0
Employment Status            0
Credit Utilization Ratio     0
Payment History              0
Number of Credit Accounts    0
Loan Amount                  0
Interest Rate                0
Loan Term                    0
Type of Loan                 0
dtype: int64

In [15]:
df1.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [20]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df1['Surname']=le.fit_transform(df1['Surname'])
df1['Geography']=le.fit_transform(df1['Geography'])
df1['Gender']=le.fit_transform(df1['Gender'])
df1.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,1115,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,1177,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,2040,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,289,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,1822,850,2,0,43,2,125510.82,1,1,1,79084.10,0

In [21]:
df2.columns

Index(['Age', 'Gender', 'Marital Status', 'Education Level',
       'Employment Status', 'Credit Utilization Ratio', 'Payment History',
       'Number of Credit Accounts', 'Loan Amount', 'Interest Rate',
       'Loan Term', 'Type of Loan'],
      dtype='object')

In [24]:
df2.head(2)

,Age,Gender,Marital Status,Education Level,Employment Status,Credit Utilization Ratio,Payment History,Number of Credit Accounts,Loan Amount,Interest Rate,Loan Term,Type of Loan
0,60,1,Married,Master,Employed,0.22,2685.0,2,4675000,2.65,48,Personal Loan
1,25,1,Married,High School,Unemployed,0.20,2371.0,9,3619000,5.19,60,Auto Loan

In [25]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df2['Gender']=le.fit_transform(df2['Gender'])
df2['Marital Status']=le.fit_transform(df2['Marital Status'])
df2['Education Level']=le.fit_transform(df2['Education Level'])
df2['Employment Status']=le.fit_transform(df2['Employment Status'])
df2['Type of Loan']=le.fit_transform(df2['Type of Loan'])
df2.head()

,Age,Gender,Marital Status,Education Level,Employment Status,Credit Utilization Ratio,Payment History,Number of Credit Accounts,Loan Amount,Interest Rate,Loan Term,Type of Loan
0,60,1,1,2,0,0.22,2685.0,2,4675000,2.65,48,2
1,25,1,1,1,2,0.20,2371.0,9,3619000,5.19,60,0
2,30,0,2,2,0,0.22,2771.0,6,957000,2.76,12,0
3,58,0,1,3,2,0.12,1371.0,2,4731000,6.57,60,0
4,32,1,1,0,1,0.99,828.0,2,3289000,6.28,36,2

In [41]:
from sklearn.model_selection import train_test_split
x=df1.drop(['Exited'],axis=1)
y=df1['Exited']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [43]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier

classification_models = {
    'Logistic Regression': LogisticRegression(random_state=42),
    'Random Forest Classifier': RandomForestClassifier(random_state=42),
    'Gradient Boosting Classifier': GradientBoostingClassifier(random_state=42)
}

In [52]:
trained_classification_models = {}

for model_name, model in classification_models.items():
    print(f"Training {model_name}...")
    model.fit(x_train, y_train)
    trained_classification_models[model_name] = model

Training Logistic Regression...
Training Random Forest Classifier...
Training Gradient Boosting Classifier...

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, confusion_matrix
y_pred = model.predict(x_test)
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
cm = confusion_matrix(y_test, y_pred)

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import GradientBoostingClassifier


best_model = GradientBoostingClassifier(random_state=42)

param_grid = {
    'n_estimators': [100, 200, 300],
    'learning_rate': [0.01, 0.1, 0.2],
    'max_depth': [3, 4, 5],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

grid_search = GridSearchCV(estimator=best_model, param_grid=param_grid,
                           scoring='roc_auc', cv=5, n_jobs=-1, verbose=2)

grid_search.fit(x_train, y_train)

best_params = grid_search.best_params_
best_tuned_model = grid_search.best_estimator_

Fitting 5 folds for each of 243 candidates, totalling 1215 fits

In [59]:
from sklearn.model_selection import train_test_split
x=df2.drop(['Type of Loan'],axis=1)
y=df2['Type of Loan']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

KeyError: "['Type of Loan'] not found in axis"