<a href="https://colab.research.google.com/github/sumitchhipa/python-learning/blob/main/titanic_data_test_pca.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [96]:
import numpy as np

In [97]:
import pandas as pd

In [98]:
df=pd.read_csv('/content/titanic.csv')

In [99]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [100]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [101]:
from sklearn.preprocessing import LabelEncoder

**Reasoning**:
Convert the categorical columns 'Sex' and 'Embarked' into numerical format using one-hot encoding to prepare the data for modeling.

In [102]:
le=LabelEncoder()

In [103]:
le.fit_transform(df['Age'])

array([44, 60, 74, 34, 27, 17, 38, 32, 22, 26, 79, 59, 29, 75, 60, 30, 45,
       26, 34, 58, 67, 12, 79, 26, 61, 63, 27, 28, 54, 79, 63, 30, 42, 79,
       38, 23, 79, 26, 31, 79, 51, 79, 54, 38, 58, 31, 58, 79, 71, 46, 30,
       34, 25, 35, 79, 13, 45, 31, 79, 46, 21, 40, 22, 27, 16, 79, 22, 60,
       39, 71, 30, 26, 37, 36, 45, 41, 79, 67, 38, 30,  9, 77, 62, 79, 79,
       79, 34, 22, 79,  6, 27, 79, 34, 79, 31, 31, 78, 37, 25, 42, 56, 34,
       79, 32, 20, 35, 26, 79, 79, 23, 54, 79, 46, 23, 75, 22, 79,  5, 46,
       37, 15, 79, 45, 35, 79, 21, 27, 79, 55, 30, 40, 65, 79, 79, 56, 30,
       33, 32, 29, 52, 13, 42, 73, 35, 55, 39, 79, 27, 79, 38, 29, 79, 72,
       46, 16, 30, 37, 29, 55, 32, 79, 10, 32, 79, 54, 32, 61, 22, 79, 27,
       79, 34, 29, 79, 52, 19, 25, 66, 46, 76, 38, 48, 22, 79, 34, 52, 26,
       21, 79, 52, 43, 79, 14, 73, 11, 42,  9, 22, 29, 79, 79,  1, 60, 11,
       31, 79, 45, 30, 42, 31, 40, 79, 21, 71, 49, 55, 79, 68, 63, 79, 38,
       26, 27, 26, 65, 79, 29, 79, 53, 46, 17, 26, 26, 79, 51, 25, 76, 25,
       22, 61, 67, 58, 58, 79, 79, 54, 27, 55, 37, 79,  4, 25, 34, 30, 41,
       79, 79, 35, 24, 26, 47, 26, 37,  5, 38, 79, 79, 79, 79, 21, 59, 79,
       32, 79, 79, 25, 35, 52, 38, 27, 29,  2, 79, 12,  6, 46, 79, 30, 79,
       79, 79, 38, 79, 65, 46, 32,  5, 79, 38, 37, 40, 79, 56, 30, 79, 76,
       38,  3, 67, 58, 22, 27, 79, 48, 67, 21, 68, 24, 34, 27, 32, 31, 32,
       42, 51, 29, 15, 59, 37, 26, 61, 51, 79, 24, 34, 38, 40, 51, 31, 79,
       22, 40, 79, 69, 79, 20, 32, 49, 30, 39, 58, 31, 22, 62,  0, 63, 70,
       79, 79, 38, 18, 30, 39, 34, 31, 79, 79, 27, 58, 37, 26, 39, 62, 57,
       66, 58, 27, 26, 67,  8, 79, 32, 79, 24, 79, 30, 30, 68, 26,  9, 29,
       64, 16, 60, 37, 22, 30, 61, 27, 39, 38, 49, 27, 21, 56, 25, 29, 63,
       79,  7, 79, 48, 35, 79, 51, 50, 79, 79])

In [104]:
print(df.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

**Reasoning**:
Use `SimpleImputer` to fill missing values in numerical columns with the median and drop the 'Cabin' column.

In [105]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,418.000000,418.000000,418.000000,332.000000,418.000000,418.000000,417.000000
mean,1100.500000,0.363636,2.265550,30.272590,0.447368,0.392344,35.627188
std,120.810458,0.481622,0.841838,14.181209,0.896760,0.981429,55.907576
min,892.000000,0.000000,1.000000,0.170000,0.000000,0.000000,0.000000
25%,996.250000,0.000000,1.000000,21.000000,0.000000,0.000000,7.895800
50%,1100.500000,0.000000,3.000000,27.000000,0.000000,0.000000,14.454200
75%,1204.750000,1.000000,3.000000,39.000000,1.000000,0.000000,31.500000
max,1309.000000,1.000000,3.000000,76.000000,8.000000,9.000000,512.329200

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

In [107]:
df['Age'] = df['Age'].fillna(df['Age'].median())
df['Fare'] = df['Fare'].fillna(df['Fare'].median())
missing_values_after = df.isnull().sum()
missing_values_after
df=df.drop('Cabin',axis=1)

In [108]:
survival_counts = df['Survived'].value_counts()
if imbalance_ratio > 1.5 or imbalance_ratio < 1/1.5:
    print("Class imbalance detected. Handling is necessary.")
else:
    print("Class imbalance not significant.")

Class imbalance detected. Handling is necessary.

In [109]:
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split
X = df.drop('Survived', axis=1)
y = df['Survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)
X_train = X_train.drop(['Name', 'Ticket'], axis=1)
X_test = X_test.drop(['Name', 'Ticket'], axis=1)
smote = SMOTE(random_state=42)
X_train_resampled, y_train_resampled = smote.fit_resample(X_train, y_train)
resampled_survival_counts = pd.Series(y_train_resampled).value_counts()

ValueError: could not convert string to float: 'male'

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
y_pred = model.predict(X_test_pca)
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.4f}")
print(f"Precision: {precision:.4f}")
print(f"Recall: {recall:.4f}")
print(f"F1-score: {f1:.4f}")

In [ ]:
from sklearn.linear_model import LogisticRegression
from imblearn.over_sampling import SMOTE
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split

# Separate features and target
X = df.drop('Survived', axis=1)
y = df['Survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)
X_train = X_train.drop(['Name', 'Ticket'], axis=1)
X_test = X_test.drop(['Name', 'Ticket'], axis=1)
smote = SMOTE(random_state=42)
X_train_resampled, y_train_resampled = smote.fit_resample(X_train, y_train)
pca = PCA(n_components=2)
X_train_pca = pca.fit_transform(X_train_resampled)
X_test_pca = pca.transform(X_test)
model = LogisticRegression(random_state=42)

model.fit(X_train_pca, y_train_resampled)

print("Model training complete.")

In [ ]:
from sklearn.decomposition import PCA
X_train = X_train.drop(['Name', 'Ticket'], axis=1, errors='ignore')
X_test = X_test.drop(['Name', 'Ticket'], axis=1, errors='ignore')
pca = PCA(n_components=2)
X_train_pca = pca.fit_transform(X_train)
X_test_pca = pca.transform(X_test)

print("Shape of X_train_pca:", X_train_pca.shape)
print("Shape of X_test_pca:", X_test_pca.shape)

In [ ]:
from sklearn.model_selection import train_test_split

X = df.drop('Survived', axis=1)
y = df['Survived']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("Shape of X_train:", X_train.shape)
print("Shape of X_test:", X_test.shape)
print("Shape of y_train:", y_train.shape)
print("Shape of y_test:", y_test.shape)

In [ ]:
# Inspect the data types of the columns in X_train
print(X_train.dtypes)

# Drop the non-numeric 'Name' column
X_train = X_train.drop('Name', axis=1)
X_test = X_test.drop('Name', axis=1)

# Apply SMOTE to the training data again after dropping the non-numeric column
smote = SMOTE(random_state=42)
X_train_resampled, y_train_resampled = smote.fit_resample(X_train, y_train)

# Verify the class distribution of the resampled training data
resampled_survival_counts = pd.Series(y_train_resampled).value_counts()
print("\nResampled training data survival counts after dropping 'Name':")
print(resampled_survival_counts)

In [ ]:
# Drop the non-numeric 'Ticket' column
X_train = X_train.drop('Ticket', axis=1)
X_test = X_test.drop('Ticket', axis=1)

# Apply SMOTE to the training data again after dropping the non-numeric columns
smote = SMOTE(random_state=42)
X_train_resampled, y_train_resampled = smote.fit_resample(X_train, y_train)

# Verify the class distribution of the resampled training data
resampled_survival_counts = pd.Series(y_train_resampled).value_counts()
print("\nResampled training data survival counts after dropping 'Name' and 'Ticket':")
print(resampled_survival_counts)

## Split data

### Subtask:
Divide the dataset into training and testing sets.

**Reasoning**:
Separate the features and target variable, then split the data into training and testing sets and print their shapes.

In [ ]:
from sklearn.model_selection import train_test_split

X = df.drop('Survived', axis=1)
y = df['Survived']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("Shape of X_train:", X_train.shape)
print("Shape of X_test:", X_test.shape)
print("Shape of y_train:", y_train.shape)
print("Shape of y_test:", y_test.shape)

## Apply pca

### Subtask:
Reduce the dimensionality of the data using Principal Component Analysis.

**Reasoning**:
Reduce the dimensionality of the data using PCA by fitting and transforming the training data and transforming the test data.

In [ ]:
from sklearn.decomposition import PCA

# Drop the non-numeric 'Name' column from the resampled training data
X_train_resampled = X_train_resampled.drop('Name', axis=1)
X_test = X_test.drop('Name', axis=1)


# Create a PCA object
pca = PCA(n_components=2)

# Fit PCA to the resampled training data and transform both training and testing data
X_train_pca = pca.fit_transform(X_train_resampled)
X_test_pca = pca.transform(X_test)

print("Shape of X_train_pca:", X_train_pca.shape)
print("Shape of X_test_pca:", X_test_pca.shape)

**Reasoning**:
The error indicates that the 'Name' column was already dropped in a previous step. I will retry the PCA transformation without attempting to drop 'Name'.

In [ ]:
from sklearn.decomposition import PCA

# Create a PCA object
pca = PCA(n_components=2)

# Fit PCA to the resampled training data and transform both training and testing data
X_train_pca = pca.fit_transform(X_train_resampled)
X_test_pca = pca.transform(X_test)

print("Shape of X_train_pca:", X_train_pca.shape)
print("Shape of X_test_pca:", X_test_pca.shape)

**Reasoning**:
The error indicates that the columns in X_test do not match the columns in X_train_resampled that were used to fit the PCA model. This is because 'Name' and 'Ticket' were dropped from X_train_resampled but not from X_test in the previous steps. I need to ensure both dataframes have the same columns before applying PCA.

In [ ]:
from sklearn.decomposition import PCA

# Drop the non-numeric 'Name' and 'Ticket' columns from both X_train_resampled and X_test
X_train_resampled = X_train_resampled.drop(['Name', 'Ticket'], axis=1, errors='ignore')
X_test = X_test.drop(['Name', 'Ticket'], axis=1, errors='ignore')

# Create a PCA object
pca = PCA(n_components=2)

# Fit PCA to the resampled training data and transform both training and testing data
X_train_pca = pca.fit_transform(X_train_resampled)
X_test_pca = pca.transform(X_test)

print("Shape of X_train_pca:", X_train_pca.shape)
print("Shape of X_test_pca:", X_test_pca.shape)

## Train a model

### Subtask:
Train a classification model (e.g., Logistic Regression, RandomForest) on the processed data.

**Reasoning**:
Import and train a Logistic Regression model on the PCA-transformed and resampled training data.

In [ ]:
from sklearn.linear_model import LogisticRegression

# Instantiate the model
model = LogisticRegression(random_state=42)

# Train the model
model.fit(X_train_pca, y_train_resampled)

print("Model training complete.")

## Evaluate the model

### Subtask:
Evaluate the performance of the trained model using appropriate metrics.

**Reasoning**:
Import the necessary evaluation metrics and evaluate the trained model on the test data.

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Make predictions on the PCA-transformed test data
y_pred = model.predict(X_test_pca)

# Calculate the evaluation metrics
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

# Print the evaluation metrics
print(f"Accuracy: {accuracy:.4f}")
print(f"Precision: {precision:.4f}")
print(f"Recall: {recall:.4f}")
print(f"F1-score: {f1:.4f}")

**Reasoning**:
The previous attempt failed because X_test_pca was not defined in the current session. Regenerate the code block to include the PCA transformation step before prediction.

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.decomposition import PCA

# Drop the non-numeric 'Name' and 'Ticket' columns from X_test before PCA
X_test_cleaned = X_test.drop(['Name', 'Ticket'], axis=1, errors='ignore')

# Create a PCA object (assuming n_components=2 as in the previous successful PCA step)
pca = PCA(n_components=2)

# Fit PCA to the resampled training data (assuming X_train_resampled is available and cleaned)
# And transform both training and testing data.
# Note: If X_train_resampled and X_test_cleaned have different columns after dropping, this will fail.
# Ensure consistent columns after dropping.
# Assuming X_train_resampled from previous steps is already cleaned.
X_test_pca = pca.fit(X_train_resampled).transform(X_test_cleaned)


# Make predictions on the PCA-transformed test data
y_pred = model.predict(X_test_pca)

# Calculate the evaluation metrics
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

# Print the evaluation metrics
print(f"Accuracy: {accuracy:.4f}")
print(f"Precision: {precision:.4f}")
print(f"Recall: {recall:.4f}")
print(f"F1-score: {f1:.4f}")

## Summary:

### Data Analysis Key Findings

*   Initial data cleaning involved one-hot encoding 'Sex' and 'Embarked', imputing missing 'Age' and 'Fare' values with their medians, and dropping the 'Cabin' column due to a high number of missing values.
*   A significant class imbalance was detected in the 'Survived' target variable, with the 'Not Survived' class having more instances than the 'Survived' class (imbalance ratio of 1.75).
*   SMOTE was successfully applied to the training data after removing the non-numeric 'Name' and 'Ticket' columns, resulting in a balanced training set.
*   Principal Component Analysis (PCA) with 2 components was applied to the cleaned and resampled training data and the cleaned test data for dimensionality reduction.
*   A Logistic Regression model was trained on the PCA-transformed and resampled training data.
*   The model's performance on the test set was evaluated with the following metrics: Accuracy: 0.5595, Precision: 0.3750, Recall: 0.2903, F1-score: 0.3273.

### Insights or Next Steps

*   The model's performance, particularly the low recall and F1-score, suggests that it is not very effective at identifying positive cases (survival). Further hyperparameter tuning or exploring more complex models might improve performance.
*   Investigating the features contributing most to the principal components could provide insights into which aspects of the data are most influential in the model's predictions after dimensionality reduction.

# Task
Analyze the Titanic dataset to predict survival using a machine learning model. The analysis should include encoding categorical features, handling imbalanced data, splitting the data, applying PCA, training a model, and evaluating its performance.

## Encode categorical features

### Subtask:
Convert categorical columns like 'Sex' and 'Embarked' into numerical representations.

**Reasoning**:
Apply one-hot encoding to the 'Sex' and 'Embarked' columns and drop the original columns.

In [ ]:
df = pd.get_dummies(df, columns=['Sex', 'Embarked'], drop_first=True)
df.head()

**Reasoning**:
The error indicates that the 'Sex' and 'Embarked' columns were already encoded or dropped in a previous step. I will check the current columns of the DataFrame to confirm and then finish the subtask.

In [ ]:
print(df.columns)

## Handle missing values

### Subtask:
Address any missing values in the dataset.

**Reasoning**:
Check for missing values, fill missing values in 'Age' and 'Fare' with their medians, drop the 'Cabin' column, and then verify that missing values have been handled.

In [ ]:
missing_values = df.isnull().sum()
print("Missing values before handling:")
print(missing_values)
df['Age'].fillna(df['Age'].median(), inplace=True)
df['Fare'].fillna(df['Fare'].median(), inplace=True)

df.drop('Cabin', axis=1, inplace=True, errors='ignore')
missing_values_after = df.isnull().sum()
print(missing_values_after)